{% extends 'base.html.twig' %}

{% block title %}Text converter{% endblock %}

{% block body %}
    <h1>Text converter</h1>

    [Place your form here]

    <h2>Result:</h2>

    lowercase

{% endblock %}
